@charset "utf-8";


h1 {
    font-family: "Franklin Gothic Book";
}

div.relative {
    position: relative;
    left: 0px;
}

button {
    background-color: darkslategray;
    border: none;
    : antiquewhite;
    width: 100px;
    padding:5px;
}

button:disabled {
    background-color: gray;
}


video {
    height: 232px;
    margin: 0 12px 20px 0;
    vertical-align: top;
    width: calc(20em - 10px);
    background-color: darkgray;
}




